<!doctype html>
<html lang="en">
  <head>

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./estilos.css" type="css/text"/>
    <title>Recuperar Contraseña</title>

  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Recuperar Pass</h1>
      </div>

      <div class="content">

        <p>Usa el siguiente codigo para restablecer el pass:</p>
        <div class="code">{{code}}</div>
        <p>Este codigo expira en <strong>15 minutos</strong>.</p>
        <p class="sino">
          Si no solicitaste este cambio, ignora este mensaje. Tu pass no sera modificado.
        </p>

      </div>

      <div class="footer">
        <p>Mi Tienda &copy; {{year}}</p>
      </div>

    </div>
  </body>
</html>
