<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="css" href="./estilos.css" type="text/csss"/>
    
    <title>C&oacute;digo de Verificaci&oacute;n</title>
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>Verificacion de Email</h1>
      </div>

      <div class="content">
        <p>Usa el siguiente C&oacute;digo para verificar tu cuenta:</p>
        <div class="code">{{code}}</div>
        <p>Este C&oacute;digo es v&acute;lido solo una vez.</p>
        <p class="sino">
          Si no solicitaste esta verificaci&oacute;n, ignora este mensaje.
        </p>
      </div>

      <div class="footer">
        <p>Mi Tienda &copy; {{year}}</p>
      </div>

    </div>
  </body>
</html>
